.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 40px;
    padding: 15px;
    min-height: fit-content;
    min-width: 650px;
    border: 2px solid orange;
    background-color: white;
    border-radius: 13px;
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

#heading {
    color: orange;
}

label {
    line-height: 26px;
}

input {
    padding: 5px;
    height: 20px;
    width: 100%;
}


#button {
    color: white;
    background-color: orange;
    border: none;
    padding: 10px;
    margin-top: 8px;
    border-radius: 3px;
    width: 100%;
}

#button:hover {
    cursor: pointer;
    background-color: rgb(228, 149, 13);
}